@using Kendo.Mvc.UI
@using Test2022.Models
@{
    ViewBag.Title = "RegisterUserTask5View";
}
@model AssignmentModel
<h2>Register User</h2>

<script>


    $(document).ready(function () {

        //hiding the extra grid navigation
        $(".k-pager-nav").hide();
        $(".k-pager-numbers").hide();
        $(".k-pager-sizes").hide();
//***************************************************************************************************************************************************************************************************************************
    $("#btnValidate").click(function () {

        var FirsLastName = $('#FirsLastName').val();
        var NPINumber = $('#NPINumber').val();       
        var BusinesAddress = $('#BusinesAddress').val();       
        var TelephoneNumber = $('#TelephoneNumber').val();
        var EmailAddress = $('#EmailAddress').val();

        if (FirsLastName == "" || NPINumber == "" || BusinesAddress == "" || TelephoneNumber == "" || EmailAddress == "") {
            alert("Please fill all input fields");  
        }

        var grid = $("#RegisterGrid").data("kendoGrid");
        var datasource = grid.dataSource;  
        datasource.insert({ FirsLastName: FirsLastName, NPINumber: NPINumber, BusinesAddress: BusinesAddress, TelephoneNumber: TelephoneNumber, EmailAddress: EmailAddress });

       $('#FirsLastName').val('');
       $('#NPINumber').val('');
       $('#BusinesAddress').val('');
       $('#TelephoneNumber').val('');
       $('#EmailAddress').val('');
       $("#btnValidate").attr('disabled', true);
      });

//***************************************************************************************************************************************************************************************************************************
        $("#FirsLastName").change(function () {
           
            Change();
        });
        $("#NPINumber").change(function () {

            Change();
        });
        $("#BusinesAddress").change(function () {

            Change();
        });
        $("#TelephoneNumber").change(function () {

            Change();
        });
        $("#EmailAddress").change(function () {

            Change();
        });

        function Change() {
            var FirsLastName = $('#FirsLastName').val();
            var NPINumber = $('#NPINumber').val();
            var BusinesAddress = $('#BusinesAddress').val();
            var TelephoneNumber = $('#TelephoneNumber').val();
            var EmailAddress = $('#EmailAddress').val();
            if (FirsLastName == "" || NPINumber == "" || BusinesAddress == "" || TelephoneNumber == "" || EmailAddress == "") {
                $("#btnValidate").attr('disabled', true);
            }
            else {
                $("#btnValidate").attr('disabled', false);
            }
        }

       
     //*******************************************************************************************//
    }); //end document

    function DeleteCurrentRow(e) {


        // var grid = this;

        var selectedItem = this.dataItem($(e.currentTarget).closest("tr"));

        // var grid = $(gridname).data("kendoGrid");
        var tr = $(e.target).closest("tr");
        this.removeRow(tr);

    }
 //*******************************************************************************************//
</script>
<style>
    .k-grid {
        font-size: 14px !important;
    }

        .k-grid td {
            line-height: 2em !important;
        }
</style>

<body>
    <div class="col-lg-6">
        <table class="table">

            <tr>
                <td>FirsLastName:</td>
                <td>
                    @Html.Kendo().TextBoxFor(m => m.FirsLastName).HtmlAttributes(new { style = "width: 200px; font-size: medium;" })<br />

                </td>
            </tr>
            <tr>
                <td>NPINumber</td>
                <td>
                    @Html.Kendo().TextBoxFor(m => m.NPINumber).HtmlAttributes(new { style = "width: 200px; font-size: medium;" })<br />
                </td>
            </tr>
            <tr class="spaceUnder">
                <td>BusinesAddress</td>
                <td>
                    @Html.Kendo().TextBoxFor(m => m.BusinesAddress).HtmlAttributes(new { style = "width: 200px; font-size: medium;" })<br />
                </td>
            </tr>
            <tr class="spaceUnder">
                <td>TelephoneNumber</td>
                <td>
                    @Html.Kendo().TextBoxFor(m => m.TelephoneNumber).HtmlAttributes(new { style = "width: 200px; font-size: medium;" })<br />
                </td>
            </tr>
            <tr class="spaceUnder">
                <td>EmailAddress</td>
                <td>
                    @Html.Kendo().TextBoxFor(m => m.EmailAddress).HtmlAttributes(new { style = "width: 200px; font-size: medium;" })<br />
                </td>
            </tr>
        </table>
        <input type="button" class="btn btn-primary ks-rounded" id="btnValidate" value="Validate" disabled = "disabled"  />&nbsp;
    </div>
    <div class="col-lg-6">
        </div>
        <br />
        <div  class="col-lg-12">

            @(Html.Kendo().Grid<AssignmentModel>()
                                                        .Name("RegisterGrid")
                                                        .AutoBind(false)
                                                        .DataSource(dataSource => dataSource
                                                        .Ajax()

                                                        .Read(read => read.Action("CostCenterImport_Read", "CostCenterImport"))
                                                        .Batch(true)
                                                        .ServerOperation(false)
                                                        )
                                                        .Columns(columns =>
                                                        {
                                                            columns.Command(command => command.Custom("Delete").Click("DeleteCurrentRow")).Width(70);
                                                            columns.Bound(c => c.FirsLastName).Title("FirsLastName").Width(150);
                                                            columns.Bound(c => c.NPINumber).Title("NPINumber").Width(150);
                                                            columns.Bound(c => c.BusinesAddress).Title("BusinesAddress").Width(150);
                                                            columns.Bound(c => c.TelephoneNumber).Title("TelephoneNumber").Width(150);
                                                            columns.Bound(c => c.EmailAddress).Title("EmailAddress").Width(150);
                                                        })
                                                        .Sortable()
                                                        .Pageable(pager => pager.PageSizes(true))
                                                        .Scrollable(scrollable => scrollable.Virtual(true))
                                                        .Resizable(resize => resize.Columns(true))
                                                        .Selectable(selectable => selectable
                                                        .Mode(GridSelectionMode.Single)
                                                        .Type(GridSelectionType.Row))
                                                        .HtmlAttributes(new { style = "width:100%; height:385px; margin-top: 0%; margin-left: 0%;" })

            )
        </div>


</body>

